*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.header
{
  background-image: url('../images/sunset-in-the-golf-course-9ouh_sz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 32.4%, rgba(128, 128, 128, 0) 100%);
  z-index: 1;
}

.header-logo,
.top-right-image,
.phone-number
{
  position: relative;
  z-index: 2;
}

.header-logo
{
  background-image: url('../images/BRLogoColor.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 25%;
  left: 38%;
  width: 30vw;
  height: 30vh;
}

.top-right-image
{
  position: absolute;
  right: 1vw;
  top: 1vh;
  height: 5vh;
  width: 5vh;
  background-image: url('../images/Untitled.png');
  background-size: contain;
  background-repeat: no-repeat;
}

h1
{
  font-family: Balgon Serif;
  font-size: 3vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(96, 96, 96, 1);
}

h2
{
  font-family: Balgon Serif;
  font-size: 2vw;
  color: rgba(96, 96, 96, 1);
}

h3
{
  font-family: Balgon Serif;
  font-size: 1vw;
  color: rgba(96, 96, 96, 1);
}

nav
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}


.phone-number
{
  position: absolute;
  right: 5vw;
  top: 2vh;
  color: rgba(96, 96, 96, 1);
  font-size: 2vw;
  padding-right: 2vw;
  font-family: Avenir Next, sans-serif;

}

nav a
{
  font-size: 1.5vw;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: background-color 0.3s;
  background-color: rgba(96, 96, 96, 1);
  color: white;
  text-decoration: none;
  font-family: Balgon Serif;
  white-space: nowrap;
  margin-left: .5%;
  z-index: 6;
}

nav a:hover
{
  background-color: darkgray;
}

footer
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  text-align: center;
  padding: 1em;
  font-family: Avenir Next, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.footer-left,
.footer-right,
.footer-logo
{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a
{
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.footer-left img
{
  margin: 0 5px;
  height: 3vh;
}

.footer-logo img
{
  height: 15vh;

}

.footer-right p
{
  margin: 1vh;
  padding: 1vh;
  text-align: right;
}

.footer-contact-title
{
  font-weight: bold;
  font-size: 1.1em;
}

footer a:hover
{
  text-decoration: underline;
}

.course-section
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  color: rgba(96, 96, 96, 1);
}

.course-item
{
  width: 20vw;
  text-align: center;
}

.course-item img
{
  width: 100%;
  height: auto;
}

.stars
{
  display: flex;
  justify-content: center;
}

.stars img
{
  height: 20px;
  width: 20px;
}

.scorecard-section
{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.scorecard
{
  text-align: center;
}

.scorecard img
{
  max-width: 100%;
  height: auto;
}

.scorecard button
{
  font-size: 1.5vw;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: background-color 0.3s;
  background-color: rgba(96, 96, 96, 1);
  color: white;
  text-decoration: none;
  font-family: Balgon Serif;
  border: none;
  cursor: pointer;
}

.scorecard button:hover
{
  background-color: darkgray;
}

#content
{
  font-size: 2em;
  font-family: Avenir Next,
}

#content h1
{
  font-family: Balgon Serif;
  font-size: 3vw;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;
}

#theresults tr:nth-child(even)
{
  background-color: #f9f9f9;
}



#inputForm
{
  font-family: Avenir Next, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#theresults
{
  font-family: Avenir Next, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#updateForm
{
  font-family: Avenir Next, sans-serif;
  background-color: #f5f5f5;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#updateForm h2
{
  font-family: Balgon Serif;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;

}

#productDisplay
{
  font-family: Avenir Next, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#loginForm
{
  font-family: Avenir Next, sans-serif;
  border-radius: 8px;
  padding: 8px;
}

#playerInfo
{
  font-family: Avenir Next, sans-serif;
  background-color: #f5f5f5;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#productDisplay h1
{
  font-family: Balgon Serif;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;
}

#playerInfo h1
{
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;
}

#inputForm h1
{
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;
}

#theresults h1
{
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;
}

#updateForm h1
{
  color: rgba(96, 96, 96, 1);
  text-align: center;
  margin-bottom: 20px;
}

#inputForm table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
}

#theresults table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
}

#updateForm table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
}



#productDisplay table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
}

#loginForm table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}


#playerInfo table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
}

#inputForm th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

#theresults th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

#updateForm th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

#productDisplay th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

#loginForm th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

#playerInfo th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

#inputForm td,
#updateForm td
{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 0.8em;
}

#theresults td
{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#productDisplay td
{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#loginForm td
{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;

}

#playerInfo td
{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#inputForm input,
select,
radio,
date,
number,
#productDisplay input,
select,
radio,
#updateForm input,
select,
radio
{
  border-radius: 4px;
  border: 1px solid rgba(96, 96, 96, 0.3);
  box-sizing: border-box;
  font-size: 1em;
  width: 40vw;
}

#loginForm input
{
  border-radius: 4px;
  border: 1px solid rgba(96, 96, 96, 0.3);
  box-sizing: border-box;
  font-size: 1em;
  width: 40vw;
}

#playerInfo input,
select,
radio
{
  border-radius: 4px;
  border: 1px solid rgba(96, 96, 96, 0.3);
  box-sizing: border-box;
  font-size: 1em;
}

#productID
{
  font-size: smaller;
  font-style: italic;
}

#productName
{
  margin-bottom: 5px;
}

.button-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container input
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container input:hover
{
  background-color: rgba(196, 79, 77, .8);
}

#directions
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#directions h3
{
  font-family: Avenir, sans-serif;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(96, 96, 96, 1);
}

#directions img
{
  justify-content: center;
  align-items: center;
  align-content: center;
}

#About_Us
{
  width: 50%;
  font-family: Avenir, sans-serif;
  color: rgba(96, 96, 96, 1);
  text-align: left;
  margin: 5vw auto;
  display: flex;
  flex-direction: column;
}

#About_Us h1
{
  font-family: Avenir, sans-serif;
  font-size: 2vw;
  text-align: left;
  margin-bottom: 5vw;

}

@media (max-width: 768px)
{
  .header-logo
  {
    width: 50%;
  }

  .phone-number
  {
    font-size: 5vw;
  }

  nav a
  {
    font-size: 5vw;
  }

  footer
  {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right,
  .footer-logo
  {
    margin: 10px 0;
  }

  .course-section
  {
    flex-direction: column;
    align-items: center;
  }

  #content h1,
  #theresults th,
  #theresults td,
  #theForm th,
  #theForm td,
  #updateForm th,
  #updateForm td
  {
    font-size: 5vw;
  }

  #theform h1,
  #theform th,
  #theform td
  {
    font-size: 5vw;
  }

  #theform input
  {
    font-size: 4vw;
  }
}