*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.hamburger
{
  margin-top: 14vh;
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  height: 8vw;
  width: 8vw;
}

.hamburger span
{
  display: block;
  height: 1vh;
  width: 8vw;
  background-color: rgba(96, 96, 96, 1);
  margin: 5px 0;
  transition: all 0.3s ease;
}

#bun
{
  display: flex;
}

.header
{
  background-image: url('../images/sunset-in-the-golf-course-9ouh_sz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 32.4%, rgba(128, 128, 128, 0) 100%);
  z-index: 1;
}

.header-logo,
.top-right-image,
.phone-number
{
  position: relative;
  z-index: 2;
}

.header-logo
{
  background-image: url('../images/BRLogoColor.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 25%;
  left: 38%;
  width: 30vw;
  height: 30vh;
}

.top-right-image
{
  position: absolute;
  right: 1vw;
  top: 1vh;
  height: 5vh;
  width: 5vh;
  background-image: url('../images/Untitled.png');
  background-size: contain;
  background-repeat: no-repeat;
}

body
{
  align-content: center;
  align-items: center;
  justify-content: center;
}

h1
{

  background-color: #f5f5f5;
  font-family: Balgon Serif;
  font-size: 3vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(96, 96, 96, 1);
  border-radius: 8px;
  padding: 5px;
}

h2
{
  font-family: Balgon Serif;
  font-size: 2vw;
  color: rgba(96, 96, 96, 1);
}

h3
{
  font-family: Balgon Serif;
  font-size: 1vw;
  color: rgba(96, 96, 96, 1);
}

nav
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}

body
{
  background-color: white;
}

.phone-number
{
  position: absolute;
  right: 5vw;
  top: 2vh;
  color: rgba(96, 96, 96, 1);
  font-size: 2vw;
  padding-right: 2vw;
  font-family: Avenir Next, sans-serif;

}

nav a
{
  font-size: 1.5vw;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: background-color 0.3s;
  background-color: rgba(96, 96, 96, 1);
  color: white;
  text-decoration: none;
  font-family: Balgon Serif;
  white-space: nowrap;
  margin-left: .5%;
  z-index: 6;
}

nav a:hover
{
  background-color: darkgray;
}

footer
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  text-align: center;
  padding: 1em;
  font-family: Avenir Next, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.footer-left,
.footer-right,
.footer-logo
{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a
{
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.footer-left img
{
  margin: 0 5px;
  height: 3vh;
}

.footer-logo img
{
  height: 15vh;

}

.footer-right p
{
  margin: 1vh;
  padding: 1vh;
  text-align: right;
}

.footer-contact-title
{
  font-weight: bold;
  font-size: 1.1em;
}

footer a:hover
{
  text-decoration: underline;
}

.course-section
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  color: rgba(96, 96, 96, 1);
}

form
{
  margin: auto;
  margin-top: 2%;
  background-color: #f5f5f5;
  width: 80%;
  border-radius: 10px;
}

.course-item
{
  width: 20vw;
  text-align: center;
}

.course-item img
{
  width: 100%;
  height: auto;
}

.stars
{
  display: flex;
  justify-content: center;
}

.stars img
{
  height: 20px;
  width: 20px;
}

.scorecard-section
{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.scorecard
{
  text-align: center;
}

.scorecard img
{
  max-width: 100%;
  height: auto;
}

.scorecard button
{
  font-size: 1.5vw;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: background-color 0.3s;
  background-color: rgba(96, 96, 96, 1);
  color: white;
  text-decoration: none;
  font-family: Balgon Serif;
  border: none;
  cursor: pointer;
}

.scorecard button:hover
{
  background-color: darkgray;
}

#content
{
  font-size: 2em;
  font-family: Avenir Next;
  align-content: center;
  align-items: center;
  justify-content: center;
}



#theresults tr:nth-child(even)
{
  background-color: #f9f9f9;
}

#PlayerBox,
#playerInfo,
#loginForm,
#productDisplay,
#updateForm,
#theresults,
#inputForm
{
  font-family: Avenir Next, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#theresults h1,
#inputForm h1,
#playerInfo h1,
#productDisplay h1,
#updateForm h2,
#updateForm h1
{
  margin-bottom: 20px;

}

table
{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}


th
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px 15px;
}

td
{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#inputForm td,
#updateForm td
{

  font-size: 0.8em;
}


input,
select,
radio,
date,
number
{
  border-radius: 4px;
  border: 1px solid rgba(96, 96, 96, 0.3);
  box-sizing: border-box;
  font-size: 1em;
  width: 40vw;
}

#productID
{
  font-size: smaller;
  font-style: italic;
}

#productName
{
  margin-bottom: 5px;
}

.button-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container input
{
  background-color: rgba(196, 79, 77, 1);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container input:hover
{
  background-color: rgba(196, 79, 77, .8);
}

#directions
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#directions h3
{
  justify-content: center;
  align-items: center;
  text-align: center;
}

#directions img
{
  justify-content: center;
  align-items: center;
  align-content: center;
}

#About_Us
{
  width: 50%;
  font-family: Avenir, sans-serif;
  color: rgba(96, 96, 96, 1);
  text-align: left;
  margin: 5vw auto;
  display: flex;
  flex-direction: column;
}

#About_Us h1
{
  font-family: Avenir, sans-serif;
  font-size: 2vw;
  text-align: left;
  margin-bottom: 5vw;

}

@media (max-width: 768px)
{




  form
  {
    width: 100%;
  }

  h1
  {
    font-size: 8vw;
  }

  h2,
  h3
  {
    font-size: 5vw;
  }

  input
  {
    width: 100%;
    font-size: 5vw;
  }

  .header
  {
    height: 20vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .header::after
  {
    background: rgba(255, 255, 255, 0.5);
    overflow: visible;
  }

  .header-logo
  {
    width: 48%;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-left: 26vw;

  }

  .top-right-image,
  .phone-number
  {
    display: none;
    background-image: none;
  }

  .footer-left,
  .footer-right,
  .footer-logo
  {
    margin: 10px 0;
  }

  footer
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
  }

  .hamburger
  {
    display: block;
    z-index: 5;

  }

  nav
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.5s ease;
  }



  nav.active
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;

  }

  nav a
  {
    font-size: 5vw;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    transition: background-color 0.3s;
    text-align: center;
  }

  #footer-left
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-left img
  {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
  }


  .footer-logo img
  {
    height: 5vh;
  }



  #directions h3
  {
    font-size: 5vw;

  }




  .course-section
  {
    flex-direction: column;
    align-items: center;
  }


  .scorecard button
  {
    font-size: 5vw;
    width: 100%;
    border-radius: 3px;
    transition: background-color 0.3s;
    background-color: rgba(96, 96, 96, 1);
    color: white;
    text-decoration: none;
    font-family: Balgon Serif;
    border: none;
    cursor: pointer;
  }

  .stars img
  {
    height: 5vw;
    width: 5vw;
  }

  .course-item
  {
    width: 90%;
    text-align: center;
    font-size: 3vw;
  }

  #About_Us
  {
    font-size: 5vw;
    width: 90%;
  }

  #About_Us h1
  {
    font-size: 8vw;
  }

  #productDisplay th
  {
    font-size: 4vw;
    white-space: nowrap;
    padding: 0;
    text-align: center;
    width: 30%;
    border-color: #f5f5f5;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
  }

  #productDisplay td
  {
    width: 60%;
  }



  #productDisplay input,
  #button-container input
  {
    font-size: 5vw;
    padding: 1%;
    width: 100%;
  }

  #button-container
  {
    width: 100%;
  }


}